<div class="jumbotron">
  <h1><i class="fa fa-list-ol"></i>DAILY TASK</h1>
  <p>A perfect website application where you can set your daily task.</p>
  <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary btn-lg" %>
 </div>